/**
*	FontName:		PersianSans
* 	Version:		1.0
*   License:        MIT
**/


@font-face {
  font-family: PersianSans;
  src: url('fonts/PersianSans-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: PersianSans;
  src: url('fonts/PersianSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: PersianSans;
  src: url('fonts/PersianSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: PersianSans;
  src: url('fonts/PersianSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: PersianSans;
  src: url('fonts/PersianSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: PersianSans;
  src: url('fonts/PersianSans-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
